/* ################################################## */
/* ###################### GERAIS #################### */
/* ################################################## */
body{
	background: url(../images/back_brapress.png);
}

img{
	max-width: 100%;
}


/* ################################################## */
/* ###################### FOOTER #################### */
/* ################################################## */
#main_footer{
	ul{
		margin:0;
		padding: 0;
		list-style: none;
	}
	li{
		&.leia_mais{
			@extend .clearfix;

			span{
				@extend .pull-left;
				@include text-overflow;
				width: 60%;
				display: block;
			}

			a{
				@extend .pull-right;
			}
		}
	}
}